ft-train/*.aux
ft-train/*.bbl
ft-train/*.blg
ft-train/*.log
ft-train/*.out
ft-train/*.pdf

bfs-accelerator/*.aux
bfs-accelerator/*.bbl
bfs-accelerator/*.blg
bfs-accelerator/*.log
bfs-accelerator/*.out
bfs-accelerator/*.pdf


overclocking/*.aux
overclocking/*.bbl
overclocking/*.blg
overclocking/*.log
overclocking/*.out
overclocking/*.pdf


