doc/ft-train/*.aux
doc/ft-train/*.bbl
doc/ft-train/*.blg
doc/ft-train/*.log
doc/ft-train/*.out
doc/ft-train/*.pdf

doc/bfs-accelerator/*.aux
doc/bfs-accelerator/*.bbl
doc/bfs-accelerator/*.blg
doc/bfs-accelerator/*.log
doc/bfs-accelerator/*.out
doc/bfs-accelerator/*.pdf


